<!-- 추천 여행지 카드 시작 -->
<!-- 화면의 크기가 줄어들면 글씨, 그림 같이 작아지는 방법? -->
<div class="hot-place">
    <h3>우리가 추천하는 여행지</h3>
</div>
<div class="row row-cols-1 row-cols-md-6 g-6 mx-auto w-75 pb-5">
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <strong class="card-title">해상 케이블카</strong>
                <p class="card-text">전라남도 여수</p>
                <p class="card-text">이창훈</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">여행지</h5>
                    <p class="card-text">지역이름</p>
                    <p class="card-text">최지웅</p>
                    
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">여행지</h5>
                    <p class="card-text">지역이름</p>
                    <p class="card-text">최지웅</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">여행지</h5>
                    <p class="card-text">지역이름</p>
                    <p class="card-text">최지웅</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">여행지</h5>
                    <p class="card-text">지역이름</p>
                    <p class="card-text">최지웅</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="C:\webproject\yeosucable.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">여행지</h5>
                    <p class="card-text">지역이름</p>
                    <p class="card-text">최지웅</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 추천 여행지 카드 끝 -->